.barFrame {
    background-color: white;
    margin: 2vh;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.bar {
    width: 20px;
    margin: 3px;
}


.buttonBar {
    display: flex;
    justify-content: space-between;
}

.configButtons {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-left: 10%;
}

.algoButtons {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 10%;
}